:root {
  --primary-clr: #b38add;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e1dc;
}

.container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: auto;
  padding: 5px;
  color: #fff;
  display: flex;
  background-color: #373c4f; /* Added missing semicolon */
}

.left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}

.calendar .days .day:hover {
  background-color: #f0f0f0;
}

.calendar .days .day.today {
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .day.next-date,
.calendar .days .day.prev-date {
  color: #d3d3d3;
}
